<link rel="stylesheet" href="/app/assets/stylesheets/login/style.css"/>
<link rel="stylesheet" href="/app/assets/stylesheets/login/base.css"/>


<!-- <div class="page-wrapper"> -->
<body class="animsition">
	<!-- <div class="page-wrapper"> -->
		<div class="page-content--bge5">
			<div class="container">
				<div class="login-wrap">
					<div class="login-content1">
						<div class="login-logo1">
							<div class="header-welcome">Bienvenue sur</div>
							<h1 class="header-title">#TheSocialRace</h1>
						</div>
                    
			
				<div class="login-form">
					<form action="" method="post">
						<div class="social-login-content">
							<div class="social-button">	
								<%= link_to 'auth/facebook', class: 'fa fa-facebook' do %><span> &nbsp Login Facebook</span><% end %>
								<a href="#" class="fa fa-instagram"><span> &nbsp Login Instagram</span></a>
							</div>
						</div>
					</form>
				</div>        
					<div class="footer-division1">	
						<a href="">
								<%= image_tag("/image/footer/profil.png", :alt => "profil") %>
						</a>
					</div>
				</div>
			</div>						
		</div>
</body>
