<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiper-campagne">
                <div class="swiper-title">
                    <h4>Mes campagnes</h4>
                </div>
                <div class="swiper-head">
                    <%= image_tag "/image/fond/montagne.jpg", alt: "montagne", class: 'slide-image'%>
                    <div class="swiper-detail">
                        <div class="heart-like">
                            <%= image_tag "/image/icone/pictogramme/Heart.png", alt: "heart", class: 'heart-like'%>
                        </div>
                        <p class="number-like">1500</p> 
                        <p class="country">Caméroun</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <%= image_tag "/image/fond/montagne1.jpg", alt: "montagne", class: 'slide-image'%>
            <div class="swiper-detail">
                <div class="heart-like">
                    <%= image_tag "/image/icone/pictogramme/Heart.png", alt: "heart", class: 'heart-like'%>
                </div>
                <p class="number-like">365</p>
                <p class="country">France</p>
            </div>
        </div>
        <div class="swiper-slide">
            <%= image_tag "/image/fond/rivière.jpg", alt: "rivière", class: 'slide-image'%>
            <div class="swiper-detail">
                <div class="heart-like">
                    <%= image_tag "/image/icone/pictogramme/Heart.png", alt: "heart", class: 'heart-like'%>
                </div>
                <p class="number-like">500</p>
                <p class="country">Madagascar</p>
            </div>
        </div>
        <div class="swiper-slide">
            <%= image_tag "/image/fond/rivière1.jpg", alt: "rivière1", class: 'slide-image'%>
            <div class="swiper-detail">
                    div class="heart-like">
                    <%= image_tag "/image/icone/pictogramme/Heart.png", alt: "heart", class: 'heart-like'%>
                </div>
                <p class="number-like">120</p>
                <p class="country">Tunésie</p>
            </div>
        </div>
        <div class="swiper-slide">
            <%= image_tag "/image/fond/ville.jpg", alt: "ville", class: 'slide-image'%>
            <div class="swiper-detail">
                    <div class="heart-like">
                    <%= image_tag "/image/icone/pictogramme/Heart.png", alt: "heart", class: 'heart-like'%>
                </div>
                <p class="number-like">400</p>
                <p class="country">Espagne</p>
            </div>
        </div>
    </div>
</div>
